
header { 
grid-area: header;
display: flex;
}

/* nav start */
nav {
    grid-area: nav;
}
/* nav end */

main {
    grid-area: main1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* pop race start */
#PopRace{
    grid-area: popRace;
    display:flex;
}
#PopRace #reminder {
    display:flex;
    flex-direction: column;
    text-align: center;
}
#PopRace #reminder p {
text-align: left;
}
/* pop race end */

/* get refreshed start */
#GetRefreshed {
    text-align: center;
    grid-area: getRefreshed;
}
#GetRefreshed p {
text-align: left;
}
/* get refreshed end */

footer {
    grid-area: footer;
    display: flex;
}

body#homeBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header nav nav"
        "main1 main1 main1 main1"
        "popRace popRace getRefreshed getRefreshed"
        "footer footer footer footer";
        gap: 5px;
  }

/* contact start */
#contactBody {
}

/* #contactMain {
    display:flex;
    grid-template-columns: 1fr;
    grid-template-areas: none";
}
#contactMain h2 {
    grid-area: h2;
} */
form div {
    margin-bottom: 30px;
}
form div label {

}

#contactMain {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
}
/* padding on each section will do the job of spacing */

/* contact end */