

header { 
grid-area: header;
display: flex;
}
/* 
nav ul a:nth-child(1) {
grid-area: home;
} */

/* nav ul a:nth-child(2) {
grid-area: store;
} */

/* nav ul a:nth-child(3) {
    grid-area: contactUs;
    text-align: center;
} */

nav {
    grid-area: nav;
    /* display: block; */
    /* align-items: center; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-areas: "home store contactUs"; */
}

/* nav ul {
    display: flex;
    justify-content: space-between;
} */

#main1 {
    grid-area: main1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* 
#main2 {
    grid-area: main2;
    display: flex;
} */

#PopRace{
    grid-area: popRace;
}

#GetRefreshed {
    border: 1px solid red;
    grid-area: getRefreshed;
}

footer {
    grid-area: footer;
    display: flex;
}

body#homeBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header nav nav"
        "main1 main1 main1 main1"
        "popRace popRace getRefreshed getRefreshed"
        "footer footer footer footer";
        gap: 5px;
  }


